:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

/* start of styling */

* {
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
    margin: 0;
}
body {
    background-color: var(--Grey-900);
    font-family: 'Inter', sans-serif;
}
main {
    min-height: 100vh;
    width: 100%;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkcard {
    width: 87%;
    max-width: 400px;
    padding: clamp(24px, -46.5882px + 18.8235vw, 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: var(--Grey-800);
}

.linkcard * {
    margin: 0;
}

.linkcard-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    margin-bottom: 28px;
}

.linkcard-header-image {
    border-radius: 50%;
    margin-bottom: 20px;
}

.linkcard-header-heading {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.linkcard-header-subheading {
    color: var(--Green);
    font-size: 14px;
    font-weight: 600;
}

.linkcard-quote {
    color: white;
    font-size: 14px;
    font-weight: 400;

    text-align: center;
    margin-bottom: 24px;
}

.linkcard-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.linkcard-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--Grey-700);
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 700;
    padding: 14px 0;
    text-decoration: none;
}

.linkcard-links a:hover {
    color: black;
    background-color: var(--Green);
}